body { background-color: dimgray; font-family: "Consolas" }
h4 { text-align: center; color: wheat; }
#canvas {
    border:1px solid wheat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}